.inputWrapper {
  .inputDiv {
    position: relative;
    margin-bottom: 20px;
    .input {
      width: 92%;
      display: block;
      height: 30px;
      &[type='text'] {
        font-size: 15px;
      }
      font-size: 15px;
      &::placeholder {
        font-size: 15px;
      }
      padding: 10px;
      outline: none;
      border: 1px solid gray;
      border-radius: 6px;
      &:focus {
        border: 1px solid blue;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
    }
    .inputIcon {
      position: absolute;
      right: 10px;
      top: 60%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
  .errorMessage {
    margin-top: 8px;
    color: red;
    font-size: 10px;
  }
}
